[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/perpetualcoder
[access "refs/for/refs/*"]
	read = group user/perpetualcoder
	push = group user/perpetualcoder
	label-Code-Review = -2..+2 group user/perpetualcoder
	label-Verified = -1..+1 group user/perpetualcoder
	rebase = group user/perpetualcoder
	removeReviewer = group user/perpetualcoder
	submit = group user/perpetualcoder
[access "refs/heads/*"]
	read = group user/perpetualcoder
	create = group user/perpetualcoder
	push = +force group user/perpetualcoder
	pushMerge = group user/perpetualcoder
[access "refs/tags/*"]
	push = +force group user/perpetualcoder
	pushTag = group user/perpetualcoder
	pushSignedTag = group user/perpetualcoder
